.Dashboard_mainDiv{
    width:100%;
    color: white;
}

.Dashbord_NewsDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3%;
    padding:3%;
}

@media only screen and (max-width:700px){
    .Dashbord_NewsDiv{
        display: block;
    }
}