.Navbar_mainDiv{
    background-color: rgb(250, 156, 151);
    padding: 0% 2%;
    display : flex;
    justify-content: flex-end;
    gap: 4%;
    align-items: center;
}

h3{
    text-decoration: none;
    color:black;
}

.Navbar_userDiv{
    border-left: 2px solid black;
    padding-left: 2%;
    padding-bottom: 1%;
}

.Navbar_userDiv > button{
    padding: 2% 3%;
    color: white;
    font-weight: 600;
    background-color: brown;
}