.News_mainDiv{
    padding: 5%;
    text-align: start;
    color: whitesmoke;
}

.News_NewsDiv > div{
    width: 60%;
    margin: auto;
}

.News_NewsDiv > h1{
    color: tomato;
}

.News_NewsDiv > p{
    font-size: 20px;
}

.News_NewsDiv > a{
    text-decoration: none;
    color: red;
}

@media only screen and (max-width:700px){
    .News_NewsDiv > h1{
        font-size: larger;
    }

    .News_NewsDiv > p{
        font-size: 16px;
    }
}

@media only screen and (max-width:450px){
    .News_NewsDiv > p{
        font-size: 14px;
    }
    .News_NewsDiv > div{
        width: 80%;
    }
}

